.main {
    /* text-align: center;
    justify-content: center; */
    /* padding: 100 100vh 300px 500px; */
    height: 1000px;
    width: 1330px;
    background-color: #191919 ;
    position: absolute;
    z-index: -1;
}

.sub-main {
    height: 600px;
    width: 450px;
    box-shadow: 0px 0px 0px 3px rgb(0, 255, 221);
    padding-top: 30px;
    border-radius: 60px;
    background-color: #000000 ;
    position: relative;
    margin-top: 10%;
    margin-left: 30%;
     
}

.imgs   {
    padding-top: 20px;
    justify-content: center;
    display: block;
    position: absolute;
    margin-left: 35%;
}

.container-image {
    background-color: rgb(255, 255, 255) ;
    border-radius: 150px;
    align-items: center;
    display: flex;
    height: 115px;
    width: 115px;
    position: absolute;
}
.profile-pic{
    background-color: rgb(255, 255, 255) ;
    border-radius: 150px;
    align-items: center;
    display: flex;
    height: 130px;
    width: 130px;
    position: relative;
}

.login-title{
    align-items: center;
    align-content: center;
    color:rgb(255, 255, 255);
    position:absolute;
    margin-left: 41%;
    margin-top: 35%;

}
.Content-box {
    align-items: flex-start;
    text-align: left;  
    
}

.Name-title{
    display: flex;
    align-items: left;
    padding-left: 10px;
    color:rgb(255, 255, 255);
    text-align: start;
    font-size: 20px;
    position:absolute;
    margin-top: 48%;
    margin-left: 10%;
}

.Email-title{
    display: flex;
    align-items: left;
    padding-left: 10px;
    color:rgb(255, 255, 255);
    font-size: 20px;
    position:absolute;
    margin-top: 80%;
    margin-inline-end: 100%;
    margin-top: 68%;
    margin-left: 10%;
    
}

.password-title{
    display: flex;
    align-items: flex-start;
    padding-left: 10px;
    color:rgb(255, 255, 255);
    font-size: 20px;
    position:absolute;
    margin-top: 88%;
    margin-left: 10%;
}

.name {
    border-radius: 100px;
    box-shadow: 1px 1px 10px 0px #31c8a7;
    align-items: flex-start;
    padding: 10px;
    display: flex;
    border-color: #00ffd5;
    width: 360px;
    font-size: medium;
    position:absolute;
    margin-top: 55%;
    margin-left: 8%;

}

.Email{
    border-radius: 100px;
    box-shadow: 1px 1px 10px 0px #31c8a7;
    align-items: flex-start;
    padding: 10px;
    display: flex;
    border-color: #00ffd5;
    width: 360px;
    font-size: medium;
    position:absolute;
    margin-top: 75%;
    margin-left: 8%;

}

.Password{
    border-radius: 100px;
    box-shadow: 1px 1px 10px 0px #31c8a7;
    align-items: flex-start;
    padding: 10px;
    display: flex;
    border-color: #00ffd5;
    width: 360px;
    font-size: medium;
    position:absolute;
    margin-top: 95%;
    margin-left: 8%;

}

.Submit{
    align-content: center;
    margin-top: 30px;
    height: 30px;
    width: 100px;
    border-radius: 8px;
    box-shadow:inset 0px 0px 25px 30px #ff5100;
    border-color: #000000;
    color: rgb(255, 255, 255);
    font-size: medium;
    position:absolute;
    margin-top: 110%;
    margin-left: 38%;

}
